/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px "ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","Source Sans Pro", helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 100%;
  color: #E55600;
}

h1 {
  font-size: large;
  margin-bottom: 1em;
}
h2 {
  font-size: large;
}

a {
  color: #00a;
}

a:hover {
  color: #44e;
  text-decoration: none;
}

/*a:visited {
  color: #a0a;
}*/

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/* Customize container */
@media (min-width: 768px) {
  .narrow {
    max-width: 730px;
  }
}

.site {
  font-size: 110%;
  line-height: 1.5em;
}

.title {
  color: black;
  font-weight: bold;
}
.title a {
  text-decoration: none;
}

.navbar {
    margin-bottom: 0px;
  }
.navbar-default .navbar-brand {
    color: #E55600;
    font-family: 'Calligraffitti', cursive;
    font-size: 150%;
    padding-top: 18px;
    padding-bottom: 12px;
  }

.navbar-default .navbar-brand:hover {
    color: #FF6000;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

 .navbar-default .navbar-nav > li.active > a,
 .navbar-default .navbar-nav > li.active > a:hover,
 .navbar-default .navbar-nav > li.active > a:focus {
    color: #E55600;
    background-color: #FFFFFF;
  }

  .site .meta {
    color: #aaa;
  }

  .site img {
    width: 100%;
  }
  /*.site ul {
    margin-left: 10px;
    padding-left: 10px;
  }*/

  .site .fb-page {
    height: 500px;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    clear: both;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

      .site .footer .rss img {
        border: 0;
      }

.inhibit{
  color: #666;
  }
  
blockquote {
  font-size: 100%;
}
ul.newslist {
  padding-left: 10px;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */
-
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 10px;
}
.carousel-caption {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.8);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
}

.carousel-indicators {
    bottom: 0px;
  }

@media (max-width: 480px) {
  .carousel-caption > .h2 {
    font-size:20px;
  }
}

/*paper-material style shodow*/
.paper-base {
  background-color: #fafafa;
}
.paper-box {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 15px -7px;
  background-color: #fff;
}
.paper-box  h2 {
  margin-top: 0;
}
/*
@media (min-width: 768px) {
  .paper-box {
    box-shadow: none;
  }
  .paper-base {
  background-color: #fff;
  }
}*/

.btn-plus {
    color: #FFF;
    background-color:  #607d8b;
    border-color: #546e7a;
}

.btn-plus:hover {
    color: #FFF;
    background-color: #455a64;
    border-color: #37474f;
}

.btn-plus:active{
    color: #FFF;
    background-color: #455a64;
    border-color: #37474f;
}

.btn-plus:focus {
    color: #FFF;
    background-color: #455a64;
    border-color: #37474f;
}

.col-btn {
  padding-left: 0;
}
/*.paper-box a.btn {
  position: absolute;
  left: 21px;
  bottom: 30px;
}*/

@media (min-width: 768px) {
  .multiple-header .paper-box a.btn{
  position: absolute;
  left: 21px;
  bottom: 30px;
}
  .place-holder {
    min-height: 30px;
    visibility: none;
  }
}

.multiple-header {
}
.multiple-header .col-sm-4 {
  min-height: 100%;
}