/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px "ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","Source Sans Pro", helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 100%;
  color: #E55600;
}

h1 {
  font-size: large;
  margin-bottom: 1em;
}
h2 {
  font-size: large;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: #44e;
  text-decoration: none;
}

/*a:visited {
  color: #a0a;
}*/

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/* Customize container */
@media (min-width: 768px) {
  .narrow {
    max-width: 730px;
  }
}

.site {
  font-size: 110%;
  text-align: justify;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
}
.title a {
  text-decoration: none;
}
  a.logo {
    color: #E55600;
    font-family: 'Calligraffitti', cursive;
    font-size: 150%;
    float: left;
    padding-top: 10px;
    margin-right: 15px;
  }
  a.logo:hover {
    color: #FF6000;
  }

  a.extra {
    color: #aaa;
  }

  a.extra:hover {
    color: black;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #E55600;
    background-color: #FFFFFF;
  }
  .site .meta {
    color: #aaa;
  }

  .site img {
    width: 100%;
  }
  .site ul {
    margin-left: 10px;
    padding-left: 10px;
  }

  .site .fb-page {
    height: 500px;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    clear: both;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

      .site .footer .rss img {
        border: 0;
      }

.inhibit{
  color: #666;
  }
  
blockquote {
  font-size: 100%;
}
ul#news {
  margin-top: 1em;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */
-
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 10px;
}
.carousel-caption {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.8);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
}
